<main>
  <h1>What's up?</h1>
  {{#if session.isLoggedIn}}
    <div class="go-to-create-button"><a
        href="/blog/create"
        class="btn btn-primary"
      >Create New Post</a>
    </div>
  {{/if}}
  {{#if currentPageEntries.length}}
    <div class="blog-container">
      {{#each currentPageEntries}}
        <div class="blog-entry">
          <h2>{{title}}</h2>
          <p>{{description}}</p>
          <span>Filip Gustafsson | {{post_date}}</span>
          {{#if ../session.isLoggedIn}}
            <a href="/blog/edit/{{blogID}}" class="edit-button">Edit</a>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <h2>Oops, no blog posts to show</h2>
  {{/if}}
</main>
{{#if pageInfo.pagesNeeded}}
  <footer>
    <div class="pagination-container">
      <ul class="pagination">
        {{#if pageInfo.prevPageNr}}
        <li class="page-item">
          <a href="?page={{pageInfo.prevPageNr}}">Previous</a>
        </li>
        {{/if}}
        {{#if pageInfo.firstPageNumberIsNeeded}}
          <li class="page-item">
            <a href="?page=1">1</a>
          </li>
          <li class="page-item">
            <span>...</span>
          </li>
        {{/if}}
        {{#if pageInfo.prevPageNr}}
        <li class="page-item">
          <a href="?page={{pageInfo.prevPageNr}}">{{pageInfo.prevPageNr}}</a>
        </li>
        {{/if}}
        <li class="page-item disabled">
          <a href="?page={{pageInfo.currentPageNr}}">{{pageInfo.currentPageNr}}</a>
        </li>
        {{#unless pageInfo.finalPage}}
          <li class="page-item">
            <a href="?page={{pageInfo.nextPageNr}}">{{pageInfo.nextPageNr}}</a>
          </li>
        {{/unless}}
        {{#if pageInfo.finalPageNumberIsNeeded}}
          <li class="page-item">
            <span>...</span>
          </li>
          <li class="page-item">
            <a href="?page={{pageInfo.pagesNeeded}}">{{pageInfo.pagesNeeded}}</a>
          </li>
        {{/if}}
        {{#unless pageInfo.finalPage}}
          <li class="page-item">
            <a href="?page={{pageInfo.nextPageNr}}">Next</a>
          </li>
        {{/unless}}
      </ul>
    </div>
  </footer>
{{/if}}