<main>
  <div class="contact-info-container">
    <h3>Send me a mail</h3>
    <h2>gustafssonfilip@hotmail.com</h2>
  </div>
  <div class="faq-container">
    <h1>FAQ</h1>
    {{#if session.isLoggedIn}}
      <div class="go-to-create-button"><a
          href="/contact/create"
          class="btn btn-primary"
        >Create New Post</a>
      </div>
    {{/if}}
    {{#if entries.length}}
      {{#each entries}}
        <div class="faq-entry">
          <p class="faq-question">{{question}}</p>
          <p>{{answer}}</p>
          {{#if ../session.isLoggedIn}}
            <a href="/contact/edit/{{faqID}}" class="edit-button">Edit</a>
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <h2>Oops, no FAQ entries to show</h2>
    {{/if}}
  </div>
</main>
{{#if pageInfo.pagesNeeded}}
  <footer>
    <div class="pagination-container">
      <ul class="pagination">
        {{#if pageInfo.prevPageNr}}
        <li class="page-item">
          <a href="?page={{pageInfo.prevPageNr}}">Previous</a>
        </li>
        {{/if}}
        {{#if pageInfo.firstPageNumberIsNeeded}}
          <li class="page-item">
            <a href="?page=1">1</a>
          </li>
          <li class="page-item">
            <span>...</span>
          </li>
        {{/if}}
        {{#if pageInfo.prevPageNr}}
        <li class="page-item">
          <a href="?page={{pageInfo.prevPageNr}}">{{pageInfo.prevPageNr}}</a>
        </li>
        {{/if}}
        <li class="page-item disabled">
          <a href="?page={{pageInfo.currentPageNr}}">{{pageInfo.currentPageNr}}</a>
        </li>
        {{#unless pageInfo.finalPage}}
          <li class="page-item">
            <a href="?page={{pageInfo.nextPageNr}}">{{pageInfo.nextPageNr}}</a>
          </li>
        {{/unless}}
        {{#if pageInfo.finalPageNumberIsNeeded}}
          <li class="page-item">
            <span>...</span>
          </li>
          <li class="page-item">
            <a href="?page={{pageInfo.pagesNeeded}}">{{pageInfo.pagesNeeded}}</a>
          </li>
        {{/if}}
        {{#unless pageInfo.finalPage}}
          <li class="page-item">
            <a href="?page={{pageInfo.nextPageNr}}">Next</a>
          </li>
        {{/unless}}
      </ul>
    </div>
  </footer>
{{/if}}