<main>
    <div class="create-post-container">
        <div class="post-container">
            {{!-- if there's a specific id sent, it's in edit mode and not create mode --}}
            <form action="{{#if id}}/contact/edit/{{id}}{{else}}/contact/create{{/if}}" method="post">
                <div class="form-group">
                    <label class="form-label">Question</label>
                    <input
                        class="form-input"
                        type="text"
                        name="question"
                        placeholder="Question"
                        value="{{question}}"
                    />
                </div>
                <div class="form-group">
                    <label class="form-label">Answer</label>
                    <textarea
                        class="form-input"
                        type="text"
                        name="answer"
                        placeholder="Answer"
                        rows="6"
                    >{{answer}}</textarea>
                <input type="submit" value="{{#if id}}Update{{else}}Post{{/if}}" class="btn btn-primary">
            </form>
            {{#if errorMessages.length}}
                <div class="errors-container">
                    <h2>Error</h2>
                    <ul class="errors-list">
                        {{#each errorMessages}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
</main>