<main>
    <div class="create-post-container">
        <div class="post-container">
            <form action="{{#if id}}/works/edit/{{id}}{{else}}/works/create{{/if}}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <input
                        class="form-input"
                        type="text"
                        name="title"
                        placeholder="Title"
                        value="{{title}}"
                    />
                </div>
                <div class="inline-input-selector">
                    <select class="form-select" name="tag1">
                        <option>Graphic Design</option>
                        <option>Web Development</option>
                        <option>Brand Identity</option>
                        <option>Javascript</option>
                        <option>HTML/CSS</option>
                        <option>Illustration</option>
                        <option>Music Creation</option>
                        <option>Video Creation</option>
                    </select>
                    <select class="form-select" name="tag2">
                        <option>Graphic Design</option>
                        <option>Web Development</option>
                        <option>Brand Identity</option>
                        <option>Javascript</option>
                        <option>HTML/CSS</option>
                        <option>Illustration</option>
                        <option>Music Creation</option>
                        <option>Video Creation</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Image</label>
                    <input type="file" name="imageName" />
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <textarea
                        class="form-input"
                        type="text"
                        name="description"
                        placeholder="description"
                        rows="6"
                    >{{description}}</textarea>
                <input type="submit" value="{{#if id}}Update{{else}}Post{{/if}}" class="btn btn-primary">
            </form>
            {{#if id}}
                <a href="/works" class="btn btn-primary">Cancel</a>
                {{!-- I couldn't get method="delete" to work, so i made a post middlewear with the path /contact/delete/ instead --}}
                <form action="/works/delete/{{id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-primary deletion">
                </form>
            {{/if}}
            {{#if errorMessages.length}}
                <div class="errors-container">
                    <h2>Error</h2>
                    <ul class="errors-list">
                        {{#each errorMessages}}
                            <li>
                                {{this}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
</main>