<section>

  <div class="works-grid">

    {{#if session.isLoggedIn}}
      <div class="works-go-to-create-button"><a
          href="/works/create"
          class="btn btn-primary"
        >Create New Post</a>
      </div>
    {{/if}}
    {{#if currentPageEntries.length}}
      {{#each currentPageEntries}}
        <div class="work-container has-shadow">
          <img src="/images/{{image_name}}.png" alt="" class="work-thumbnail" />
          <div class="work-info-container">
            <h1 class="work-title">{{title}}</h1>
            <div class="work-tags-container">
              <p class="work-tags">{{tag_1}}</p>
              <p class="work-tags">{{tag_2}}</p>
            </div>
            <p class="work-info">{{description}}</p>
            <p class="work-date">{{post_date}}</p>
            {{#if ../session.isLoggedIn}}
              <a href="/works/edit/{{portfolioID}}" class="edit-button">Edit</a>
            {{/if}}
          </div>
        </div>
      {{/each}}
    {{else}}
      <h2>Oops, no portfolio works to show</h2>
    {{/if}}
  </div>
</section>
{{#if pageInfo.pagesNeeded}}
  <footer>
    <div class="pagination-container">
      <ul class="pagination">
        {{#if pageInfo.prevPageNr}}
        <li class="page-item">
          <a href="?page={{pageInfo.prevPageNr}}">Previous</a>
        </li>
        {{/if}}
        {{#if pageInfo.firstPageNumberIsNeeded}}
          <li class="page-item">
            <a href="?page=1">1</a>
          </li>
          <li class="page-item">
            <span>...</span>
          </li>
        {{/if}}
        {{#if pageInfo.prevPageNr}}
        <li class="page-item">
          <a href="?page={{pageInfo.prevPageNr}}">{{pageInfo.prevPageNr}}</a>
        </li>
        {{/if}}
        <li class="page-item disabled">
          <a href="?page={{pageInfo.currentPageNr}}">{{pageInfo.currentPageNr}}</a>
        </li>
        {{#unless pageInfo.isFinalPage}}
          <li class="page-item">
            <a href="?page={{pageInfo.nextPageNr}}">{{pageInfo.nextPageNr}}</a>
          </li>
        {{/unless}}
        {{#if pageInfo.finalPageNumberIsNeeded}}
          <li class="page-item">
            <span>...</span>
          </li>
          <li class="page-item">
            <a href="?page={{pageInfo.pagesNeeded}}">{{pageInfo.pagesNeeded}}</a>
          </li>
        {{/if}}
        {{#unless pageInfo.isFinalPage}}
          <li class="page-item">
            <a href="?page={{pageInfo.nextPageNr}}">Next</a>
          </li>
        {{/unless}}
      </ul>
    </div>
  </footer>
{{/if}}